body{
    background-image: url(21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
#form{
    background-color: #000;
    height:600px;
    width:700px;
    margin:auto;
    padding:20px;
    opacity: 0.8;
}
 .error {
            color: red;
            margin-left:15px;
            /*margin-top:10px;*/
        }
 .error2 {
             color: red;
             margin-right:60px;
             /*margin-top:10px;*/
         }

 .nav {
     display: flex;
     justify-content: space-between;
 }
/* Change outline color */
input[type="date"]:focus {
  outline-color: #00BFFF;
}

/* Change calendar icon color */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1) hue-rotate(180deg);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.parentDiv{
width: 100%;
}

.left, .right {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

h1 {
  margin-top: 0;
}
#form h3{
    border-bottom: 2px solid #3399ff;
    width:210px;
    padding: 5px;
}
::placeholder{
    color:#fff
}
#input #input-group{
    width:250px;
    margin: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input #dates{
    background: black;
    color:white;
    margin:Auto 10px;
}
#input2 #input-group{
    width:195px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input3 #input-group{
    margin-left: 50px;
}
#input4 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input4 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input5 h3{
    border-bottom: 2px solid #3399ff;
    width:220px;
    padding: 5px;
}
#input6 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input6 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}