<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Reference Bootstrap files -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <style>
        body {
			background: url('/css/error.jpeg') no-repeat; width: 100%; height: 100%;
  			background-size: cover;
  			background-attachment: fixed;
  			text-align:center;
		}
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <h2>Access denied</h2>

            <form class="form-inline" th:action="@{/logout}" method="post" style="margin-left:80px;">

                <a href="/Dashboard" class="btn btn-secondary mr-2">Back</a>
                <input type="submit" class="btn btn-secondary" value="Logout"/>
            </form>

        </div>
        <div class="col">

        </div>
    </div>
</div>

</body>
</html>