<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roads And Utilities Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styleList.css}" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        .btn {
          font-weight: bold;
        }
        .btn-bold {
          font-weight: bold;
        }
    </style>

</head>
<body>

<div>
    <h2>Roads &amp; Utilities Construction Projects</h2>
    <br/>

</div>

<div class="centered">

    <div style="margin-left:47px;">

        <form class="form-inline" th:action="@{/Inspection/page/1}">
            <div class="form-group mr-2">
                <input type="text" name="keyword" id="keyword" class="form-control" th:value="${keyword}" placeholder="Filter By Key-Word" required />
            </div>
            <button type="submit" class="btn btn-primary mr-2">Search</button>
            <button type="button" class="btn btn-secondary" onclick="clearFilter()">Remove Filter</button>
        </form>
    </div>
    <br/>
     <table class="table table-bordered table-striped">
        <thead class="table-primary">
        <tr>
            <th>Action</th>
            <th>Project Name</th>
            <th>Project Address</th>
            <th>Metrics Report</th>
            <th>Site Image</th>
            <th>Start Date</th>
            <th>Latest Inspection Dated</th>
            <th>Project Type</th>
            <th>Safety Level</th>
            <th>Weather Conditions</th>
            <th>Progress Status</th>
            <th>Infrastructure Aesthetics</th>
            <th>Inspector in charge</th>
            <th>Project Manager</th>
        </tr>
        <tbody>
    <tr th:each="tempProject : ${theProjects}">

        <td sec:authorize="hasAnyRole('ROLE_INSPECTOR', 'ROLE_OPERATIONS_MANAGER')">
            <form th:action="@{/Inspection/showFormForUpdate}" method="post"
                  sec:authorize="hasRole('ROLE_INSPECTOR')">
                <input type="hidden" name="projectId" th:value="${tempProject.id}" />
                <button type="submit" class="btn btn-outline-info btn-sm">Update</button>
            </form>

            <br/><br/>
            <form th:action="@{/Inspection/deleteProject}" method="post"
                  sec:authorize="hasRole('ROLE_OPERATIONS_MANAGER')"
                  onsubmit="return confirm('Are you sure you want to delete this Project?')">
                <input type="hidden" name="projectId" th:value="${tempProject.id}" />
                <button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
        </td>

        <td th:text="${tempProject.pname}" />
        <td th:text="${tempProject.location}" />
        <td>
            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
               th:href="@{'/Inspection/view/' + ${tempProject.reportName}}" th:text="${tempProject.reportName}">
            </a>
        </td>
        <td style="background-color:black;">
            <img class="img-fluid" th:src="@{/Inspection/images/{filename}(filename=${tempProject.ImageName})}" th:alt="${file}" style="max-width:100%; max-height:100%;"/>
        </td>
        <td th:text="${tempProject.start_date}" />
        <td th:text="${tempProject.theCurrent_date}" />
        <td th:text="${tempProject.projectType}" />
        <td th:text="${tempProject.safety}" />
        <td th:text="${tempProject.weatherConditions}" />
        <td th:text="${tempProject.status}" />
        <td th:text="${tempProject.aesthetics}" />
        <td th:text="${tempProject.user.id}" />
        <td th:text="${tempProject.user.firstName} +' '+ ${tempProject.user.lastName}"/>
    </tr>

        </tbody>
        </thead>

        <tbody>

        </tbody>
    </table>
<div style="border: 3px solid white; margin: 10px; width:auto; background-color:black; color:white;">

     <center>
        Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp; - &nbsp;
        <a th:if="${currentPage > 1}" th:href="@{/Inspection/page/1}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;&nbsp;
        <a th:if="${currentPage > 1}" th:href="@{'/Inspection/page/' + ${currentPage - 1}}">Previous </a>
        <span th:unless="${currentPage > 1}">Previous</span>
        &nbsp;&nbsp;


<!--        <span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--      <a th:if="${i !=currentPage}" th:href="@{'/Inspection/page/' + ${i}}">[[${i}]]</a>-->
<!--      <span th:unless="${i !=currentPage}">[[${i}]]</span>-->
<!--      &nbsp;&nbsp;-->

         <span th:each="i: ${#numbers.sequence(1, totalPages)}" th:if="${totalPages != 0}">
    <a th:if="${i != currentPage}" th:href="@{'/Inspection/page/' + ${i}}">[[${i}]]</a>
    <span th:unless="${i != currentPage}">[[${i}]]</span>
    &nbsp;&nbsp;
</span>
         <span th:each="i: ${#numbers.sequence(1, 1)}" th:if="${totalPages == 0}">
    <a th:if="${totalPages == 0}" th:href="@{/Inspection/page/1}">[[${i}]]</a>
<!--    <span th:unless="${currentPage > 1}">[[${i}]]</span>-->
    &nbsp;&nbsp;
</span>

    </span>

        <a th:if="${currentPage < totalPages}" th:href="@{'/Inspection/page/' + ${currentPage + 1}}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>

        &nbsp;&nbsp;
        <a th:if="${currentPage < totalPages}" th:href="@{'/Inspection/page/' + ${totalPages}}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
    </center>
</div>
</div>

<div style="margin-left:40px; margin-top: 40px;" >
<!--    <form action="#" th:action="@{/logout}"-->
<!--          method="post">-->
<!--        <input type="submit" value="Logout"/>-->
<!--    </form>-->

    <form class="form-inline" th:action="@{/logout}" method="post">

        <a href="/Dashboard" class="btn btn-info mr-2">Back</a>
        <input type="submit" class="btn btn-warning" value="Logout"/>
    </form>

</div>
<script type="text/javascript">
    function clearFilter(){
    window.location = '/Inspection/list';
    }
</script>
</body>
</html>